<h1>Ship 1 Details</h1>
<h3>Name: <%= @pirate.name %></h3><br>
<h4>Weight: <%= @pirate.weight %> pounds</h4><br>
<h4>Height: <%= @pirate.height %> inches</h4>


<h1>Ship 1 Details</h1>
<h3>Name: <%= @ship_1.name %></h3><br>
<h4>Type: <%= @ship_1.type %></h4><br>
<h4>Booty: <%= @ship_1.booty %></h4>

<h1>Ship 2 Details</h1>
<h3>Name: <%= @ship_1.name %></h3><br>
<h4>Type: <%= @ship_1.type %></h4><br>
<h4>Booty: <%= @ship_1.booty %></h4>